@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0px;
}
.main-container {
    background-image: linear-gradient(to left, #fadd4b, #de457a);
    height: 100vh;
}

.nav-item{
    font-size:30px;
    text-decoration: none;
    color:black;
}

@media screen and (max-width:1024px){
   .nav-item{
    font-size:35px;
    text-decoration: none;
    color:black;
}
    
}

@media screen and (max-width:576px){
    .nav-item{
    font-size:10px;
    text-decoration: none;
    color:black;
}

.bottom-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    height: 200px;
    width: 200px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}

.item-image{
    height: 100px;
    width: 100px;
}
.icons {
    font-size:10px;
    border-color: black;
    border-radius: 50px;
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:10px;
}
.cards-container{
    display: flex;
    flex-direction: column;
}  
.bottom-card-container{
    height:100px;
    width:100px;
}

.bottom-container{
    height:100vh;
}
}

.icons {
    border-color: black;
    border-radius: 50px;
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:10px;
}

.cart-icon{
    margin-top:10px;
}
.icons-container{
    display: flex;
}

.nav-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.bg-container {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 10px;
    background-size: cover;
    background-image: url("/BackgroundImage.jpg");
}

.top-card-container {
    background-color: #e33939;
    opacity: 0.6;
    padding: 8px;
    width: 380px;
    margin-left: 20px;

}

.top-card-heading {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
}

.top-card-description {
    color: white;
    font-family: "Roboto";
    font-size: 15px;
}


.line {
    background-color: black;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.main-heading {
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
}

.bottom-container {
    background-image: linear-gradient(to left, #fadd4b, #de457a);
    margin-top: 0px;
	height:100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}


.cards-container {
    display: flex;
    justify-content: space-around;
}

.item-image {
    height: 250px;
    width: 250px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.bottom-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    height: 350px;
    width: 260px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}

.bottom-card-heading {
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
}

.bottom-card-description {
    font-family: "Roboto";
    font-size: 8px;
    text-align: center;
}

.order-button {
    border-radius: 10px;
    height: 44px;
    width: 120px;
    border-width: 0px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.6;
}

.button-container {
    display: flex;
    justify-content: center;
	padding:10px
}